.cafe{
    height: 300px;
}
.cha{
    height: 300px;
}
.coffe{
    height: 300px;
}
.chocolate{
    height: 300px;
}
.leite{
    height: 300px;
}

body{
    background-color: rgba(198,184,170,18);
    color: rgba(53, 31, 17, 0.719);
}
header{
    background-color: rgb(107, 92, 73);
    height: 80px;
    }
    footer{
    background-color: rgba(132,116,83,255);
    height: 350px;
}